@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "DM Sans", sans-serif, Helvetica, Arial, Symbola;
    --sidebar-width: 250px;
    --header-width: cacl(100% - var(--sidebar-width))
}